[report]
exclude_lines =
    pragma: no cover
    def __repr__
    def __str__
    if self\.debug
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:

omit =
    config/*
    common/*
    migrations/*
    manage/*
    tests/*
    manage.py

ignore_errors = False

[html]
directory = coverage_html_report
